section {
  display: flex;
  flex-wrap: wrap;
  & > * {
    padding: 10px;
  }

  @media screen and (min-width: 0) {
    & > * {
      width: 100%;
    }
  }
  @media screen and (min-width: 768px) {
    & > * {
      width: 50%;
    }
  }
}

// .roundActions {
//   @media screen and (min-width: 768px) {
//     & > * {
//       width: 50%;
//     }
//   }
// }

// .roundResults {
//   @media screen and (min-width: 768px) {
//     & > * {
//       width: 50%;
//     }
//   }
// }
